

.post-info {
    
    
    border-radius: 10px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.29); 
    padding: 40px; 
    margin: 20px auto; 
    width: 1000px; 
    background-color: #353434;
   
    text-align: left;
    
}

.post-info h1 {
    font-size: 24px; 
    font-weight: bold; 
    color: #ffffff; 
    margin-bottom: 10px; 
}

.post-info h3 {
    font-size: 14px; 
    color: #eeeded; 
    margin-bottom: 15px; 
}

.post-info img {
    display: block; 
    max-width: 500px; 
    height: auto; 
    margin: 15px 0; 
    border-radius: 5px; 
}

.post-info p {
    font-size: 16px; 
    color: #eeeded; 
    line-height: 1.6; 
    margin-bottom: 20px; 
}

.button-layout{
    display: flex; 
    
    align-items: center; 
    margin-top: 20px; 
}

.vote{
    margin-right: 790px;
    justify-content: center;
    align-items: center;
    
}
.edit{
    margin-right: 5px;
}

.comment-edit{
    
    padding: 10px 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.29); 
    color-scheme: light dark;
    background-color: (255, 255, 255, 0.87);
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #242424;
}

